<!DOCTYPE html>
<html>
<head>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script>

  var favorites_list = [];

  function get_opts_box (imdbid) {
    var $details = $('<a>').attr('href', 'javascript:void(0);').addClass('get-detail').text('More...');
    var $opts_box = $('<p>').addClass('options').append($details);
    $opts_box.append(' | ');
    if (favorites_list.indexOf(imdbid) < 0) {  // not in favorites list
      var $favorite = $('<a>').attr('href', 'javascript:void(0);').addClass('add-favorite').text(
        'Add favorite'
      );
    } else {
      var $favorite = $('<a>').attr('href', 'javascript:void(0);').addClass('delete-favorite').text(
        'Delete favorite'
      );
    }
    $opts_box.append($favorite);

    return $opts_box;
  }

  function fill_box ( result, $box ) {
    /*
    result is a dictionary like:

      {
        "imdbID": "tt0325710",
        "Year": "2003",
        "Type": "movie",
        "Title": "The Last Samurai"
      }

    */
    var $div = $('<div>').attr('rel', result.imdbID);

    var $title = $('<p>').addClass('title').append(result.Title);
    var $type = $('<p>').addClass('type').append(result.Type);
    var $year = $('<p>').addClass('year').append(result.Year);

    var $opts_box = get_opts_box(result.imdbID);

    $div.append($title);
    $div.append($type);
    $div.append($year);
    $div.append($opts_box);
    $div.append($('<br>'));

    $box.append($div);
  }

  function load_favorites () {
    var $favorites = $('.favorites-box').empty();
    $favorites.append('<h1>My favorites</h1>');
    var jqxhr = $.ajax({
      url: $favorites.attr('rel'),
      crossDomain: true
    });
    jqxhr.done(function ( data ) {
      // load results
      $(data).each(function ( idx, result ) {
        favorites_list.push(result.imdbID);
        fill_box(result, $favorites);
      });
    });
  }

  $(function () {

    // search
    $('form#search').submit(function ( e ) {
      e.preventDefault();

      var jqxhr = $.ajax({
        url: $(this).attr('action'),
        data: $(this).serialize(),
        method: "GET",
        crossDomain: true,
      });

      jqxhr.done(function ( data ) {
        var $results = $('div.results-box').empty();
        $results.append('<h1>Search results</h1>');
        if (data.status != undefined && data.status == 'no_results') {
          $results.append(data.message);
        } else {
          // load results
          $(data).each(function ( idx, result ) {
            fill_box(result, $results);
          });
        }
      });

      jqxhr.fail(function ( data ) {
        var $results = $('div.results-box').empty();
        if (data.message != undefined) {
          $results.append(data.message);
        }
      });

      return false;
    });

    // load favorites' list
    load_favorites();

    // add a favorite
    $('body').on('click', '.add-favorite', function () {
      var $favorited = $(this).parent();
      var jqxhr = $.ajax({
        url: '{{ favorites_add_url }}',
        method: 'POST',
        crossDomain: true,
        data: {
          'imdbID': $favorited.attr('rel'),
          'Title': $favorited.find('.title').text(),
          'Type': $favorited.find('.type').text(),
          'Year': $favorited.find('.year').text(),
        }
      });
      jqxhr.done(function () {
        load_favorites();
      });
    });
    // FIXME: delete a favorite - returning 405
    $('body').on('click', '.delete-favorite', function () {
      var $favorited = $(this).parents('div');
      var jqxhr = $.ajax({
        url: '{{ favorites_delete_url }}',
        method: 'DELETE',
        crossDomain: true,
        data: {'imdbid': $favorited.attr('rel')}
      });
      jqxhr.done(function () {
        load_favorites();
      });
    });

    // get detail
    $('body').on('click', '.get-detail', function () {
      var url = '{{ detail_url }}'.replace('__imdbid__', $(this).parents('div').attr('rel'));
      var jqxhr = $.ajax({
        url: url,
        crossDomain: true,
      });
      jqxhr.done(function ( data ) {
        var $results = $('div.results-box').empty();
        $results.append('<h1>Search results</h1>');
        // load detail
        // TODO: change fill_box function to show all data when in detail
        fill_box(data, $results);
      });
    });

  });
</script>
</head>
<body>
  <form action="{{ search_url }}" id="search">
    <input type="text" placeholder="Search for movies, series or episodes..." name="query">
    <p><strong>You can also select a type to improve the filtering of the results</strong></p>
    <input type="radio" name="type" value="movie">Movie<br />
    <input type="radio" name="type" value="series">Series<br />
    <input type="radio" name="type" value="episode">Episode<br />
    <br />
    <input type="submit" value="Search">
  </form>

  <div class="favorites-box" rel="{{ favorites_list_url }}"></div>

  <div class="results-box"></div>

</body>
</html>
