<!DOCTYPE html>
<html>
<head>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script>

  var favorites_list = [];

  function get_opts_box (imdbid) {
    var $details = $('<a>').attr('href', 'javascript:void(0);').addClass('get-detail').text('More...');
    var $opts_box = $('<p>').addClass('options').append($details);
    if (favorites_list.indexOf(imdbid) < 0) {  // not in favorites list
      var $favorite = $('<a>').attr('href', 'javascript:void(0);').addClass('add-favorite').text(
        'Add favorite'
      );
      $opts_box.append(' | ');
      $opts_box.append($favorite);
    }

    return $opts_box;
  }

  function fill_box ( result, $box ) {
    /*
    result is a dictionary like:

      {
        "imdbID": "tt0325710",
        "Year": "2003",
        "Type": "movie",
        "Title": "The Last Samurai"
      }

    */
    var $div = $('<div>').attr('rel', result.imdbID);

    var $title = $('<p>').addClass('title').append(result.Title);
    var $type = $('<p>').addClass('type').append(result.Type);
    var $year = $('<p>').addClass('year').append(result.Year);

    var $opts_box = get_opts_box(result.imdbID);

    $div.append($title);
    $div.append($type);
    $div.append($year);
    $div.append($opts_box);
    $div.append($('<br>'));

    $box.append($div);
  }

  $(function () {

    // search
    $('form#search').submit(function ( e ) {
      e.preventDefault();

      var jqxhr = $.ajax({
        url: $(this).attr('action'),
        data: $(this).serialize(),
        method: "GET",
        crossDomain: true,
      });

      jqxhr.done(function ( data ) {
        var $results = $('div.results-box').empty();
        if (data.status != undefined && data.status == 'no_results') {
          $results.append(data.message);
        } else {
          // load results
          $(data).each(function ( idx, result ) {
            fill_box(result, $results);
          });
        }
      });

      jqxhr.fail(function ( data ) {
        var $results = $('div.results-box').empty();
        if (data.message != undefined) {
          $results.append(data.message);
        }
      });

      return false;
    });

    // load favorites' list
    var $favorites = $('.favorites-box.to-load');
    var jqxhr = $.ajax({
      url: $favorites.attr('rel'),
      crossDomain: true
    });
    jqxhr.done(function ( data ) {
      var $results = $('div.results-box').empty();
      // load results
      $(data).each(function ( idx, result ) {
        fill_box(result, $favorites);
      });
    });

    // TODO: add a favorite
    // TODO: delete a favorite
  });
</script>
</head>
<body>
  <form action="{{ search_url }}" id="search">
    <input type="text" placeholder="Search for movies, series or episodes..." name="query">
    <p><strong>You can also select a type to improve the filtering of the results</strong></p>
    <input type="radio" name="type" value="movie">Movie<br />
    <input type="radio" name="type" value="series">Series<br />
    <input type="radio" name="type" value="episode">Episode<br />
    <br />
    <input type="submit" value="Search">
  </form>

  <div class="favorites-box to-load" rel="{{ favorites_list_url }}"></div>

  <div class="results-box"></div>

</body>
</html>
